# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables / config
*.env
*.env.*

# OS-specific
.DS_Store
Thumbs.db

# Requirements artifacts
pip-log.txt

# Local user settings (e.g. VSCode, PyCharm)
.vscode/
.idea/

# Ignore generated output
*.log
Ace-Pace_DB.csv
Ace-Pace_Missing.csv
crc32_files.db
check.sh
